[
 {:db/id #db/id[:db.part/user]
  :wefeedus/type :wefeedus.type/soup
  :wefeedus/lon 8.485
  :wefeedus/lat 49.455
  :wefeedus/date #inst "2013-12-29T02:46:30.237-00:00"
  :wefeedus/starting-minute 1000
  :wefeedus/end-minute 1200}

 {:db/id #db/id[:db.part/user]
  :wefeedus/type :wefeedus.type/meal
  :wefeedus/lon 8.491
  :wefeedus/lat 49.451
  :wefeedus/date #inst "2013-12-29T02:46:30.237-00:00"
  :wefeedus/starting-minute 480
  :wefeedus/end-minute 1000}

 {:db/id #db/id[:db.part/user]
  :wefeedus/type :wefeedus.type/cake
  :wefeedus/lon 8.494
  :wefeedus/lat 49.458
  :wefeedus/date #inst "2013-12-29T02:46:30.237-00:00"
  :wefeedus/starting-minute 1200
  :wefeedus/end-minute 1320}]
